<section class="charities">
  <h2 class="charities__tittle-box">
    <span class="charities__tittle">Support Ukraine</span>
    <svg class="charities__icon">
      <use href="./images/icons.svg#icon-support-ukraine"></use>
    </svg>
  </h2>
  <ul class="charities__list">
    <li class="charities__item">
      <span class="charities__number">01</span
      ><a
        href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
        target="_blank"
        ><img src="./images/charities/save-the-children.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">02</span
      ><a href="https://www.projecthope.org/country/ukraine/" target="_blank"
        ><img src="./images/charities/project-hope.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">03</span
      ><a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank"
        ><img src="./images/charities/international-medical-corps.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">04</span
      ><a href="https://www.razomforukraine.org/" target="_blank"
        ><img src="./images/charities/razom.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">05</span
      ><a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank"
        ><img src="./images/charities/action-against-hunger.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">06</span
      ><a href="https://prytulafoundation.org/en" target="_blank"
        ><img src="./images/charities/senirgy-prytula.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">07</span
      ><a href="https://www.msf.org/ukraine" target="_blank"
        ><img src="./images/charities/medicins-sans-frontieres.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">08</span
      ><a href="https://www.wvi.org/emergencies/ukraine" target="_blank"
        ><img src="./images/charities/world-vision.png"
      /></a>
    </li>
    <li class="charities__item">
      <span class="charities__number">09</span
      ><a href="https://u24.gov.ua/uk" target="_blank"
        ><img src="./images/charities/united24.png"
      /></a>
    </li>
  </ul>
  <button type="button" class="charities__btn down-btn">
    <svg class="charities__more-icon charities__more-icon--down">
      <use href="./images/icons.svg#icon-arrow-small-left"></use>
    </svg>
  </button>
  <button type="button" class="charities__btn up-btn is-hidden">
    <svg class="charities__more-icon charities__more-icon--up">
      <use href="./images/icons.svg#icon-arrow-small-left"></use>
    </svg>
  </button>
</section>
