<!--HOME-PAGE-->
<div class="container body-wrapper">
  <aside class="left-side-menu">
    <section class="categories-menu">
      <ul class="categories-list"></ul>
    </section>
  </aside>

  <div class="main-content">
    <section class="best-sellers"></section>

    <section class="category-books-list">
      <div class="category-books-list__container">
        <h2 class="category-books-list__title"></h2>
        <ul class="category-books-list__list"></ul>
      </div>
    </section>
  </div>
</div>
