<div class="modal is-hidden pop-up-modal">
  <button id="modal-close" class="close-pop-up-modal-btn" type="button" aria-label="close">
    <svg class="close-pop-up-modal-btn">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <div id="allBooks"></div>
  <div>
    <button type="button" class="add-book-button buttons">Add to shopping list</button>

    <div class="remove-button">
      <button type="button" class="delete-book-button buttons">
        Remove from the shopping list
      </button>
      <p class="storage-comment"></p>
    </div>
  </div>
</div>
