<div class="modal is-hidden pop-up-modal">
  <button id="modal-close" class="close-modal-btn" type="button" aria-label="close">
    <!-- <svg class="button--close-icon" width="28" height="28">
      <use href="***"></use>
    </svg> -->
  </button>
  <div id="allBooks"></div>
  <div>
    <button type="button" class="add-book-button buttons">Add to shopping list</button>

    <div class="remove-button">
      <button type="button" class="delete-book-button buttons">
        Remove from the shopping list
      </button>
      <p>
        Сongratulations! You have added the book to the shopping list. To delete, press the button
        “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
