<div class="modal is-hidden start-modal">
  <button id="modal-close" class="close-start-modal-btn" type="button" aria-label="close">
    <svg class="close-start-modal-btn">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <form class="register-form" id="formId">
    <label class="modal-label" for="nameId">
      <input class="modal-input" type="text" placeholder="NAME" id="nameId" required />
    </label>
    <label class="modal-label" for="emailId">
      <svg class="modal-icon">
        <use href="./images/icons.svg#icon-mail"></use>
      </svg>
      <input class="modal-input" type="email" placeholder="EMAIL" id="emailId" required />
    </label>
    <label class="modal-label" for="passwordId">
      <svg class="modal-icon">
        <use href="./images/icons.svg#icon-lock"></use>
      </svg>

      <input class="modal-input" type="password" placeholder="PASSWORD" id="passwordId" required />
    </label>
    <button class="main-modal-btn" type="submit">SIGN UP</button>
  </form>
  <div class="common-modalBtn-field">
    <button class="common-modal-btn current-modal-btn">SIGN UP</button>
    <button class="common-modal-btn">SIGN IN</button>
  </div>
</div>
