.left-side-shopping .charities {
  display: none;

  @media screen and (min-width: 1100px) {
    display: block;
    margin-top: 112px;
  }
}

.shopping-wrapper {
  display: flex;
}

.left-side-shopping {
  display: flex;
  margin-left: 10px;
}

.shopping-tittle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  margin-left: 20px;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-left: 32px;
  }
}

.shopping-tittle--violet {
  color: $violet;
}

.basket {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-left: 32px;
  }
}

.shopping-list-container {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.shopping-list-item {
  display: flex;
  align-items: top;
  position: relative;
  border: solid 2px $violet;

  height: 170px;
  border-radius: 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 213px;
    margin-bottom: 20px;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
  }
}

.shopping-list-item-image {
  width: 100px;
  height: 142px;
  object-fit: cover;
  margin: 14px;

  @media screen and (min-width: 768px) {
    width: 116px;
    height: 165px;
    margin: 24px 24px 24px 24px;
  }
}

.shopping-list-item-title {
  padding-top: 14px;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
}

.shopping-list-item-category {
  font-size: 12px;
  line-height: normal;
  padding-top: 4px;
}

.shopping-list-item-description {
  font-size: 14px;
  height: 64px;
  overflow: hidden;
  padding-top: 6px;

  @media screen and (min-width: 1100px) {
    padding-right: 32px;
  }
}

.shopping-list-item-author {
  padding-top: 18px;
}

.shopping-list-item-info .buy-links {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.is-hidden {
  display: none !important;
}

.buy-links-item img {
  @media screen and (max-width: 768px) {
    height: 16px;
  }
}

.icon-trash {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 20px;
  height: 20px;
  fill: $white;

  @media screen and (min-width: 768px) {
    top: 14px;
    right: 14px;
  }
}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  background-color: $violet;
  border-radius: 16px;
}

.navbar {
  display: flex;
  padding: 10px;
  background-color: $white1;
  .nav-btn {
    padding: 5px 10px;
    cursor: pointer;
  }
  .nav-input {
    width: 10px;
    padding: 5px;
  }
}

.navbar {
  border-radius: 15px;
  display: flex;
  width: 100vw;
  justify-content: center;
  bottom: 0px;
  padding-top: 10px;
}

.page-button {
  width: 40px;
  height: 42px;
}

.empty {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 260px;
  text-align: center;
  left: 0;

  @media screen and (min-width: 110px) {
    left: 180px;
  }
}

.empty-png {
  background-image: url('../images/shopping-list/empty@x1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 265px;
  height: 198px;
  @media screen and (min-width: 768px) {
    width: 322px;
    height: 241px;
  }
}
