.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4f2ee8;
  border-radius: 1421px;
  background: rgba(204, 236, 231, 0.5);

  filter: blur(539.7910766601562px);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;

  transition: opacity 700ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.start-modal {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  min-width: 335px;
  min-height: 384px;
  background: #202024;

  border-radius: 18px;
}
.close-start-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: fill 0.3s ease;
  fill: #ffffff;
}
.register-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  &:last-child {
    gap: 0;
  }
}

.modal-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 45px 16px 24px;
  gap: 24px;
  width: 295px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  border-radius: 40px;
  &:focus {
    outline-color: #f6f6f6;
    color: #f6f6f6;
  }
}

.modal-label {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 30%;
  left: 85%;

  & svg {
    width: 18px;
    height: 18px;
  }
}

.main-modal-btn {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  max-height: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #f6f6f6;
  border-radius: 40px;
  cursor: pointer;
}

.common-modalBtn-field {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 100%;
  min-height: 18px;
}

.common-modal-btn {
  min-width: 50px;
  min-height: 18px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  border: transparent;
  color: rgba(246, 246, 246, 0.5);
  background-color: transparent;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.current-modal-btn {
  color: #4f2ee8;
  text-decoration-line: underline;
}

@media (min-width: 768px) {
  .start-modal {
    max-width: 579px;
    max-height: 516px;
  }
  .close-start-modal-btn {
    width: 28px;
    height: 28px;
    left: 90%;
    & svg {
      width: 28px;
      height: 28px;
    }
  }
  .modal-input {
    width: 499px;
    height: 64px;
    padding: 20px 80px 20px 40px;
    gap: 10px;
  }
  .modal-icon {
    position: absolute;
    top: 30%;
    left: 85%;

    & svg {
      width: 28px;
      height: 28px;
    }
  }
  .main-modal-btn {
    width: 100%;
  }
}
