$black: #111111;
$black1: #202024;
$violet: #4f2ee8;
$yellow: #eac645;
$white: #ffffff;
$white1: #f6f6f6;
$grey: #b4afaf;

.grayscale {
  filter: grayscale(100%);
}
.image-container {
  display: flex;
  justify-items: center;
  justify-content: center;
  background-color: white;
  display: inline-block;
}

.white-image {
  mix-blend-mode: lighten;
  filter: brightness(0) invert(1);
}

//na potrzebę widoczności białego loga
.background {
  background-color: #111111;
}

body {
  font-family: 'DM Sans', sans-serif;
  height: auto;
}
