@import '../partials/variables';

body.dark,
.dark .close-pop-up-modal-btn,
.dark .delete-book-button,
.dark .add-book-button {
  background-color: $black1;
}
.dark .header__menu {
  background-color: $black;
  border: 2px solid $white;
}

.dark .pop-up-modal {
  background-color: $black1;
  border: 2px solid $white;
}

.dark .categories-menu {
  scrollbar-color: rgba(17, 17, 17, 0.6) rgba(17, 17, 17, 0.6);
}

.dark .categories-list {
  color: rgba(255, 255, 255, 0.6);
}

.dark .books-descr,
.dark .delete-book-button,
.dark .add-book-button {
  color: $white;
}

.dark .categories-list-item:hover,
.dark .categories-list-item:focus,
.dark .categories-list-item[selected='true'] {
  cursor: pointer;
  color: $yellow;
}

.dark .title-book,
.dark .description {
  color: $white;
}

.dark .main-nav {
  &__shop-text {
    color: $white;
  }
}

.dark .simplebar-scrollbar {
  background-color: var(--scroll-bar-dark);
}

.dark .categories-menu {
  scrollbar-color: var(--scroll-bar-dark) transparent;
}

.dark .categories-menu::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-dark);
}

.dark .switch input:checked + .slider:before,
.dark .switch.checked .slider:before {
  transform: translateX(20px);
}
.dark .logo__text,
.dark .main-nav__shop-icon {
  fill: $white1;
}

.dark .books-card-title,
.dark .card__heading,
.dark .main-nav__home-sl,
.dark .title {
  color: $white;
}

.dark .main-nav__shop-text-index,
.dark .main-nav__shop-icon-sl {
  color: $white;
}

.dark .main-nav__shop-text-sl {
  color: $black;
  font-size: 14px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-weight: 700;
  }
}

.dark .main-nav__shop-icon-sl {
  @media screen and (min-width: 768px) {
    fill: $black;
  }
}

.dark .icon-close,
.dark .icon-open {
  stroke: $white;
}

.dark .header__button-close,
.dark .header__button-open {
  background-color: $black;
}

.dark .storage-comment {
  color: rgba(255, 255, 255, 0.5);
}

.dark .shopping-tittle {
  color: $white;
}

.dark .shopping-list-item {
  background-color: $black;

  &-title,
  &-description {
    color: $white;
  }
}
