@import '../partials/variables';

body.dark {
  background-color: $black1;
}
.dark .header__menu {
  background-color: $black;
  border: 2px solid $white;
}

.dark .categories-menu {
  scrollbar-color: rgba(17, 17, 17, 0.6) rgba(17, 17, 17, 0.6);
}

.dark .categories-list {
  color: rgba(255, 255, 255, 0.6);
}

.dark .books-descr {
  color: $white;
}

.dark .categories-list-item:hover,
.dark .categories-list-item:focus,
.dark .categories-list-item[selected='true'] {
  cursor: pointer;
  color: $yellow;
}

.dark .title-book {
  color: $white;
}

.dark .main-nav {
  &__shop-text {
    color: $white;
  }
}

.dark .simplebar-scrollbar {
  background-color: var(--scroll-bar-dark);
}

.dark .categories-menu {
  scrollbar-color: var(--scroll-bar-dark) transparent;
}

.dark .categories-menu::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-dark);
}

.dark .switch input:checked + .slider:before,
.dark .switch.checked .slider:before {
  transform: translateX(20px);
}
.dark .logo__text,
.dark .main-nav__shop-icon {
  fill: $white1;
}

.dark .books-card-title,
.dark .card__heading {
  color: $white;
}
